
.item{
  background-color: pink
  height 30px
  line-height 30px
  margin-bottom: 5px
  padding: 0 4px
  display inline-block  
  &.complete {
    text-decoration: line-through
    background-color: blue
  }
}
.active{
  text-decoration: underline
}
.filter{
  margin-right: 6px  
}

